/*KiZAN blue #105187*/
html {
    font-size: 2em !important;
    color: white !important;
    font-family: Arial !important;
}
h1,h3,h4,h5{
    /*margin-top: 1em;*/
    color:white !important;
    font-size: 1em !important;
}


body { 
    margin-top: 25px !important;
    text-align: center !important;
    background-color: #ffffff !important;
}
hr{
    margin-top:10px !important;
    margin-bottom:15px !important;
}
#scoreboardTitle{
    font-size: 1.5em; 
    color: #FFF;
}
#challengeOneTimes{
    font-size: 1.5em; 
    color: white;
}
#challengeTwoTimes{
    font-size: 1.5em; 
    color: white;
}
#challengeThreeTimes{
    font-size: 1.5em; 
    color: white;
}
#editor {
    resize: none;
    margin: 0 auto;
    width: 50%;
    height: 200px;
}
.editor {
    resize: none;
    margin: 0 auto;
    width: 50%;
    height: 313px!important;
}
.warning-text {
    margin-top:1em;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 1em;
}


.header {
    font-size: 6em;
    color: #f47d20;
}

.result-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.challenge-image {
    width: 190px;
    border: 3px white solid;
    /*margin: 15px;*/
    cursor: pointer;
}

.scoreboard {
    width: 340px;
    display: inline-block;
    text-align: left;
}

.button {
    width: 100px;
    height: 33px;
}

.name {
    width: 250px;
    height: 50px;
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-align: center;
}

.myGrid {
    width: 500px;
    height: 250px;
  }
.challenge-text{
    font-size: 2em;
    color: #FFF ;
    font-family: Arial ;
}
.alert-danger{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 90% !important;
}
.titles{
 color: #ffff00;
 font-size: 25px;
}
.logo{
    margin: 0em!important;
}
.instructions{
    font-size:1.5em;
    color:#f47d20 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.inputField{
     font-size:1.5em;
    color:#f47d20 !important;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right !important;
    font-weight: bold;
    margin-right: 41%;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.instructionText{
    font-size:25px !important;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.timer{
    font-size:30px;
    font-weight: bold;
    color:#f47d20 !important;   
}
.ace_scrollbar {
    display: none !important;
}
.challengeTwoBox{
    text-align: right!important;
    margin-right: 40%;
}

.adminPage{
    font-size: 1.5em; 
    color: white;
}
.challenge-button{
    background-color: black;
    display: inline-block;
    padding: 30px 10px;
    border: 5px solid white;
    cursor: pointer;
}
.challenge-button-text{
    color:#f47d20 !important;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}
.details{
    letter-spacing: 4px;
    color: white;
}
a.challenge-button:hover{
    text-decoration: none!important;
    color: white;
}
.headings {
    text-align: left !important;
    white-space: nowrap;
    margin-top: 10px;
    overflow: hidden;
    color: white;
    font-size: 20px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
